<div class="flex-container">
    
    <button mat-raised-button (click)="openDialogAdd()" id="add-btn">Add new Course</button>
    
    <div class="flex-item flex-table">
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor = "let label of labels">
                        {{label}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let row of courses">
                    <td *ngFor = "let column of headers;">
                        {{row[column]}}
                    </td>
                    <td>
                        <button mat-fab color="primary" (click)="openDialogEdit(row)"><mat-icon>edit</mat-icon></button>
                    </td>
                    <td>
                        <button mat-fab color="warn" (click)="onDelete(row)"><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
            </tbody>
            <button mat-fab color="main" id="add-fab" (click)="openDialogAdd()">
                <mat-icon>add</mat-icon>
            </button>
        </table>
        </div>
    </div>
</div>
