.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

#add-fab {
  position:fixed;
  bottom:2rem;
  right:2rem;
  display: none;
	text-align:center;
}

th {
  white-space: nowrap;
}

@media only screen and (max-width: 900px) {
  #add-fab {
    display: block
  }
  #add-btn {
    display: none
  }
}

@media only screen and (max-width:428px) {
  #add-fab {
    bottom: 4rem;
  }
}