<div class="dialog">
    <h1 mat-dialog-title>Edit the course!</h1>
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div mat-dialog-content>
            <mat-form-field>
                <input matInput placeholder="Title" formControlName="title" required>
                <mat-error *ngIf="dataForm.controls.title.invalid">{{getErrorMessageTitle()}}</mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput placeholder="Description" formControlName="description" required>
                <mat-error *ngIf="dataForm.controls.description.invalid">{{getErrorMessageDescription()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Zoom link" formControlName="zoomLink" required>
                <mat-error *ngIf="dataForm.controls.zoomLink.invalid">{{getErrorMessageZoomLink()}}</mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <mat-select placeholder="Select Lecturers" [formControl]="lecturersSelect" [(ngModel)]="selectedLecturers" multiple>
                    <mat-option *ngFor="let lecturer of lecturers" [value]="lecturer">
                        {{lecturer.firstName +  " " + lecturer.lastName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button cdkFocusInitial type="submit" [disabled]="!dataForm.valid" mat-dialog-close="data" color="primary">Edit course</button>
        </div>
    </form>
</div>