* {
    background-color: #94746c;
}

.navbar {
    width: 100%;
    padding: 1%;
    color: white !important;
}

.navbar-brand {
    color: white !important;
    font-size: 25px;
    padding-right: 5%;
    margin: 0;
}

.navbar-item {
    padding-right: 20%;
    padding-left: 3%;
}

.nav-link {
    color: white !important;
    font-size: larger;
    padding-right: 0.5%;
}

.authors {
    justify-content: right;
}
