<div class="dialog">
    <h1 mat-dialog-title>Add a new lecturer!</h1>
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div mat-dialog-content>
            <mat-form-field>
                <input matInput placeholder="First name" formControlName="firstName" required>
                <mat-error *ngIf="dataForm.controls.firstName.invalid">{{getErrorMessageFirstName()}}</mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput placeholder="Last name" formControlName="lastName" required>
                <mat-error *ngIf="dataForm.controls.lastName.invalid">{{getErrorMessageLastName()}}</mat-error>
            </mat-form-field>

            <button mat-raised-button type="button" data-bs-toggle="#course-list" data-bs-target="collapse" aria-expanded="false" aria-controls="course-list">Select Courses</button>
            <div class="collapse" id="course-list">
                <p>Hej ho tu są kursy</p>
            </div>
    
            <button mat-raised-button cdkFocusInitial type="submit" [disabled]="!dataForm.valid" mat-dialog-close="data" color="primary">Add lecturer</button>
        </div>
    </form>
</div>