<div class="home">
    <div class="containerr">
        <div class="item">
            <img src="https://images.wisegeek.com/teacher-at-chalkboard.jpg" alt="lecturer">
            <div class="overlay">
                <div class="info jumbotron">
                    <h1 class="display-4">Lecturers</h1>
                    <p class="lead">Using our application you can easly find your lecturer and check the basic information about him! You can also
                        add your lecturer and expand the community!
                    </p>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/lecturers">Check out!</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="https://cdn-res.keymedia.com/cms/images/au/130/0314_637269086154300500.jpg" alt="classes">
            <div class="overlay">
                <div class="info jumbotron">
                    <h1 class="display-4">Courses</h1>
                    <p class="lead"> Using our application you can just check information about classes and useful links with online courses!
                    </p>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/courses">Check out!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
